<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="card"></ion-icon>
      Cuentas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let banco of Cuentas">
      <ion-card-header>
        <ion-card-title>{{ banco.NombreBanco }}</ion-card-title>
        <ion-card-subtitle>{{ banco.NumeroCuenta }}</ion-card-subtitle>
        
      </ion-card-header>
      
      <ion-card-content>
        <p>Salvando el semestre: {{ banco.DineroDisponible }} </p>
      </ion-card-content>
    </ion-card>

</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
